<ion-content fullscreen>
  <ion-grid>
    <!-- REMOVE the centring class here -->
    <ion-row>  <!--  or  class="ion-justify-content-start" -->

      <ion-col
        *ngFor="let art of likedArtworks$ | async"
        size="12" size-md="6" size-lg="4">

        <app-artwork-card [artwork]="art">
          <ion-card-content footer>
            <ion-button expand="block" color="medium"
                        (click)="openComment(art)">
              <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
              COMMENT
            </ion-button>
          </ion-card-content>
        </app-artwork-card>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
