ion-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d9c6a5;
    font-size: 24px;
    text-align: center;
    width: 100%;
}
ion-toolbar {
    --background: #5c3a1e;
    --color: #3E4F1C;
}
ion-content {
    --background: #faf7f2;
}