<ion-header translucent>
  <ion-toolbar>
    <ion-title>Virtual Display</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <!--  ADD THIS ROW  -->
    <ion-row class="ion-justify-content-center">

      <ion-col *ngFor="let art of artworks$ | async" size="12" size-md="6" size-lg="4">

        <app-artwork-card [artwork]="art">
          <ion-card-content footer>
            <ion-button class="details-btn" expand="block" (click)="goToDetails(art)">
              More Details
            </ion-button>
          </ion-card-content>
        </app-artwork-card>

      </ion-col>

    </ion-row> 
  </ion-grid>
</ion-content>