<ion-header translucent>
  <ion-toolbar>
    <ion-title>Search</ion-title>

    <ion-searchbar placeholder="Search artworks"
                   debounce="250"
                   (ionInput)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngIf="(filteredArtworks$ | async)?.length; else nothing">
    <ion-item *ngFor="let art of filteredArtworks$ | async">
      <ion-label>
        <h2>{{ art.title }}</h2>
        <p>{{ art.artist }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #nothing>
    <ion-text color="medium" class="ion-padding">
      No artworks match your search.
    </ion-text>
  </ng-template>
</ion-content>
