<ion-header>
  <ion-toolbar>
    <ion-title>The Ceiling of a Building</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img src="assets/ceiling-painting.jpg" alt="The Ceiling of a Building" />

    <ion-card-header>
      <ion-card-title>The Ceiling of a Building</ion-card-title>
      <ion-card-subtitle>by Riza-yi</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      This is a beautiful example of Persian miniature art painted on the ceiling of a historical building.
    </ion-card-content>
  </ion-card>
</ion-content>
